.jumbotron{
	background: url(http://s3.amazonaws.com/mtv-main-assets/files/pages/final_mg_9731.jpg) no-repeat center center;
	background-size: cover;
	height: 620px !important;
	background-size: cover;
	height: 620px !important;
}